<div class="signin">
<h1>Sign In</h1>

<% form_tag session_path do -%>
<p class="login_line"><%= label_tag 'Login:' %><%= text_field_tag 'login', @login %></p>
<p class="login_line"><%= label_tag 'Password:' %><%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Log in', :id => 'login' %></p>
<% end -%>
<br/>
<p class="signup_invite">Don't have an account yet?  <%= link_to("Create one now!", signup_url) -%>.</p>
</div>
