<%= render :partial => 'buckets/topblock', :locals => { :new_bucket => Bucket.new, :ticket_number => nil, :lh_project => @lh_project } %>
<h1>Tickets for <%= @lh_project.name %>, in search <% if @bin %>bin <%= @bin.name %><% else %><%= @search_query %><% end %></h1>
<%= render :partial => 'search_results', :locals => { :tickets => @lh_tickets, :project => @lh_project } %>
