<%= render :partial => 'buckets/topblock', :locals => { :new_bucket => @bucket, :ticket_number => @lh_ticket.number, :lh_project => @lh_project } %>
<br>
<div id="ticket_body">
  <h1><%= @lh_ticket.title %></h1>
  <% unless @lh_ticket.tags.blank? -%>
    <h2>Tags: <%= @lh_ticket.tags.join(', ') %></h2>
  <% end -%>
  <% @lh_ticket.versions.each do |version| -%>
    <div class="comment">
      <h3>by <%= @user_map[version.user_id].name %>:
        <% if version.title != @lh_ticket.title -%>
          <%= version.title %>
        <% end -%>
      </h3>
      <div class="comment_body">
        <%= version.body_html %>
      </div>
    </div>
  <% end -%>
</div>
<script type="text/javascript">
Event.observe(window, 'load', function() {
  $('bucket_block').style.margin=$('top_line').offsetHeight + "px 0px 0px 0px";
  $('bucket_block').style.position="fixed";
  $('top_line').style.position="fixed";
  $('ticket_body').style.margin=($('top_line').offsetHeight + $('bucket_block').offsetHeight) + "px 0px 0px 0px";
});
</script>
