<script type="text/javascript">
function showBucketForm() {
  $$('.cancel_button').invoke('show');
  $$('.new_button').invoke('hide');
<%= update_page do |page|
    page.visual_effect :slide_down, :popup_bucket, :duration => 0.33
end %>
}

function hideBucketForm() {
  $$('.cancel_button').invoke('hide');
  $$('.new_button').invoke('show');
<%= update_page do |page|
    page.visual_effect :slide_up, :popup_bucket, :duration => 0.33
end %>
}
</script>

<div style="width: 100%">
  <div class="bucket_container">
    <a id="bucket_edit_link" href="<%= buckets_path %>" onclick="makeEditable(); return false;">
      <div class="bucket_edit_block"><%= image_tag('tag_blue_edit.png') %>Edit</div>
    </a>
<% unless current_user.buckets.blank? -%>
<% current_user.buckets.each do |bucket| -%>
    <div class="bucket" id="<%= "bucket_#{bucket.id}" %>">
      <%= link_to_remote(image_tag('delete.png', :class => 'delete_button'), :url => { :controller => 'buckets', :action => 'destroy', :id => bucket.id }, :method => 'delete', :success => "nuke('bucket_#{bucket.id}')") %>
      <%= link_to_function(image_tag('cog_edit.png', :class => 'edit_button'),
                           "editBucketForm('#{bucket.tag}', '#{bucket.description}', '#{bucket.milestone_id}', '#{bucket.state}', '#{bucket.boilerplate}')") %>
      <%= button_to bucket.tag, apply_path(:ticket_number => @lh_ticket.number, :bucket_id => bucket.id), :class => 'actual_button' %>
      <%= h(bucket.description) if bucket.description %>
    </div>
<% end -%>
<% end -%>
    <div class="clear"></div>
    <div class="operational" style="width: 100%">
      <div class="new_button">
	<%= button_to "New", { :action => 'new', :controller => 'buckets' }, :onclick => 'showBucketForm(); return false;' %>Create a new bucket
      </div>
      <div class="cancel_button" style="display: none">
	<%= button_to "Cancel", nil, :onclick => 'hideBucketForm(); return false;' %>Cancel new bucket creation
      </div>
      <div class="skip_button"><%= button_to "Skip", { :action => 'next' } %>Skip to the next ticket</div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="popup_bucket" style="display: none">
  <% remote_form_for(@bucket, :success => 'hackery(request)') do |f| %>
    <%= render :partial => 'buckets/modify', :locals => { :f => f } -%>
    <p id="bucket_submit_button">
      <%= f.submit "Create" %>
    </p>
  <% end %>
  <div class="clear"></div>
</div>
<br>
<h1><%= @lh_ticket.title %></h1>
<% unless @lh_ticket.tags.blank? -%>
<h2>Tags: <%= @lh_ticket.tags.join(', ') %></h2>
<% end -%>
<% @lh_ticket.versions.each do |version| -%>
<h3>by <%= @user_map[version.user_id].name %>:
<% if version.title != @lh_ticket.title -%>
<%= version.title %>
<% end -%>
</h3>
<div class="indent">
<%= version.body_html %>
</div>
<hr width="50%"/>
<% end -%>
<script type="text/javascript">
$$('.edit_button').invoke('hide');
$$('.delete_button').invoke('hide');
$$('.new_button').invoke('hide');
var bucketsize = $$('.actual_button').pluck('offsetWidth').max();
$$('.actual_button').each(function(elem) { elem.style.width = bucketsize + 'px' });
</script>
