<%= render :partial => 'buckets/topblock', :locals => { :new_bucket => @bucket, :ticket_number => @lh_ticket.number, :lh_project => @lh_project } %>
<br>
<h1><%= @lh_ticket.title %></h1>
<% unless @lh_ticket.tags.blank? -%>
<h2>Tags: <%= @lh_ticket.tags.join(', ') %></h2>
<% end -%>
<% @lh_ticket.versions.each do |version| -%>
<h3>by <%= @user_map[version.user_id].name %>:
<% if version.title != @lh_ticket.title -%>
<%= version.title %>
<% end -%>
</h3>
<div class="indent">
<%= version.body_html %>
</div>
<hr width="50%"/>
<% end -%>
