<div style="width: 100%">
  <div class="bucket_container">
<% unless @buckets.blank? -%>
<% @buckets.each do |bucket| -%>
    <div class="bucket"><%= button_to bucket.tag, apply_path(:ticket_number => @ticket.number, :bucket_id => bucket.id) %><%= h(bucket.description) if bucket.description %></div>
<% end -%>
<% end -%>
    <div class="clear"></div>
    <div class="bucket"><%= button_to "New", { :action => 'new', :controller => 'buckets' } %>Create a new bucket</div>
    <div class="bucket"><%= button_to "Skip", { :action => 'next' } %>Skip to the next ticket</div>
    <div class="clear"></div>
  </div>
</div>
<br>
<h1><%= @title %></h1>
<% unless @ticket.tags.blank? -%>
<h2>Tags: <%= @ticket.tags.join(', ') %></h2>
<% end -%>
<% @ticket.versions.each do |version| -%>
<h3>by <%= @user_map[version.user_id].name %>:
<% if version.title != @title -%>
<%= version.title %>
<% end -%>
</h3>
<div class="indent">
<%= version.body_html %>
</div>
<hr width="50%"/>
<% end -%>
