<h1>Choose a Project</h1>
<ul>
<% @projects.each do |project| -%>
  <li><%= link_to(h(project.name), search_path(:project_id => project.id, :q => 'sort:number')) %>
    <ul>
<% unless project.bins.blank? -%>
<% project.bins.each do |bin| -%>
      <li><%= link_to(bin.name, bin_tickets_path(:project_id => project.id, :bin_id => bin.id)) %> (<%= bin.tickets_count %>)</li>
<% end -%>
<% end -%>
      <li><label style="float: left;">Search: &nbsp;<%= form_tag(search_path(:project_id => project.id), :method => :get) do %><%= text_field_tag :q, '', :size => 30 %><% end %></label></li>
    </ul>
<% end -%>
</ul>
<h1>Bucket Management</h1>
<ul>
<% if @buckets -%>
<% @buckets.each do |bucket| -%>
  <li><%= link_to(bucket.tag, edit_bucket_path(:id => bucket.id)) %></li>
<% end -%>
<% end -%>
</ul>
<%= link_to 'Create new bucket', new_bucket_path %>
