  <%= f.error_messages %>

  <p id="bucket_tag">
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>

  <p id="bucket_description">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p id="bucket_state">
    <%= f.label :state %><br />
    <%= select :bucket, :state, @states, { :include_blank => "-do not change" } %>
  </p>

  <p id="bucket_milestone">
    <%= f.label :milestone %><br />
    <%= collection_select :bucket, :milestone_id, @milestones, :id, :title, { :include_blank => "-do not change" } %>
  </p>

  <%= f.hidden_field :id %>

  <div class="clear"></div>

  <p id="bucket_boilerplate">
    <%= f.label :boilerplate %><br />
    <%= f.text_area :boilerplate, :cols => 80, :rows => 5 %>
  </p>
