  <%= f.error_messages %>

  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>

  <p>
    <%= f.label :state %><br />
    <%= select :bucket, :state, @states, { :include_blank => "-do not change" } %>
  </p>

  <p>
    <%= f.label :milestone %><br />
    <%= collection_select :bucket, :milestone_id, @milestones, :id, :title, { :include_blank => "-do not change" } %>
  </p>

  <p>
    <%= f.label :boilerplate %><br />
    <%= f.text_area :boilerplate %>
  </p>
