<div id="bucket_block"<% unless ticket_number.nil? %> style="border-bottom: 1px solid black"<% end %>>
<div style="width: 100%">
  <div class="bucket_container"<% if ticket_number.nil? %> style="border-bottom: 1px solid black"<% end %>>
    <a id="bucket_edit_link" href="<%= buckets_path %>" onclick="makeEditable(); return false;">
      <div class="bucket_edit_block"><%= image_tag('tag_blue_edit.png') %>Edit</div>
    </a>
<% unless current_user.buckets.blank? -%>
<% current_user.buckets.each do |bucket| -%>
    <div class="bucket" id="<%= "bucket_#{bucket.id}" %>">
      <%= link_to(image_tag('delete.png', :class => 'delete_button'), :url => { :controller => 'buckets', :action => 'destroy', :id => bucket.id }, :method => 'delete', :success => "nuke('bucket_#{bucket.id}')", :remote => true) %>
      <%= link_to_function(image_tag('cog_edit.png', :class => 'edit_button'),
                           "editBucketForm(#{bucket.id}, '#{bucket.tag}', '#{bucket.description}', '#{bucket.milestone_id}', '#{bucket.state}', '#{bucket.boilerplate}')") %>
<% if ticket_number -%>
      <%= button_to bucket.tag, apply_path(:project_id => lh_project.id, :ticket_number => ticket_number, :bucket_id => bucket.id), :class => 'actual_button' %>
<% else -%>
      <%= button_to_function bucket.tag, "alert('#{bucket.tag}');" %>
<% end -%>
      <%= h(bucket.description) if bucket.description %>
    </div>
<% end -%>
<% end -%>
    <div class="clear"></div>
    <div class="operational" style="width: 100%">
      <div class="new_button">
	<%= button_to "New", { :action => 'new', :controller => 'buckets' }, :onclick => 'newBucketForm(); return false;' %>Create a new bucket
      </div>
      <div class="cancel_button" style="display: none">
	<%= button_to "Cancel", nil, :onclick => 'hideBucketForm(); return false;' %>
      </div>
      <div class="skip_button"><%= button_to "Skip", { :action => 'next' } %>Skip to the next ticket</div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="popup_bucket" style="display: none">
  <%= form_for(new_bucket, :remote => true) do |f| %>
    <%= render :partial => 'buckets/modify', :locals => { :f => f } -%>
    <p id="bucket_submit_button">
      <%= f.submit "Create" %>
    </p>
  <% end %>
  <div class="clear"></div>
</div>
</div>
<% javascript_tag do -%>
$$('.edit_button').invoke('hide');
$$('.delete_button').invoke('hide');
$$('.new_button').invoke('hide');
var bucketsize = $$('.actual_button').pluck('offsetWidth').max();
$$('.actual_button').each(function(elem) { elem.style.width = bucketsize + 'px' });
<% end -%>

