<h1>Editing bucket</h1>

<%= form_for(@bucket) do |f| %>
<%= render :partial => 'modify', :locals => { :f => f } -%>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @bucket %> |
<%= link_to 'Back', buckets_path %>
